<!DOCTYPE html>
<html>
  <head>
    <title>HealthyStart</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag *webpack_asset_paths('application', extension: 'js') %>

  <%= stylesheet_link_tag *webpack_asset_paths('application', extension: 'css') %>
  <!-- <script src="https://use.fontawesome.com/bfd4e076b7.js"></script> -->
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="http://localhost:3808/webpack-dev-server.js"></script>
<!--
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag *webpack_asset_paths("application") %> -->
  </head>

  <body>
    <div id="app">
    </div>
  </body>
</html>
